#drive_section {
  margin-top: 2.5rem;
}

#drive_section_holder {
  @extend .default-padding;
}

#drive_main_text {
  font-size: 2rem;
  letter-spacing: -1px;
}

#drive_text_desc {
  margin-top: 1rem;
}
