@media screen and (min-width: 320px) {
  #mega_menu {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  #main_section {
    height: 550px;
    background-position: -300px 100px;
  }

  #smooth_scroll {
    margin-top: 2.1rem;
  }

  .caption {
    bottom: 70px;
  }
}

@media screen and (min-width: 425px) {
  #smooth_scroll {
    margin-top: 3rem;
  }
}
